@model BLL.DAL.Director

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">🎭 Director Details</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Name:</strong> @Model.Name
                        </li>
                        <li class="list-group-item">
                            <strong>Surname:</strong> @Model.Surname
                        </li>
                        <li class="list-group-item">
                            <strong>Is Retired:</strong> @(Model.IsRetired ? "Yes" : "No")
                        </li>
                    </ul>
                    <div class="text-end mt-4">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
